<div class="content-div">
    <!-- wrap content into container -->
    <div class="ui container">

        <div class="m-t-25 m-b-25"></div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="row product-div">
                    <div class="six wide column">
                        <div class="row">
                            <div class="ui card" style="width:100%">
                                <div class="image">
                                    <img ng-src="{{causeList[getCurrentPage()].image}}">
                                </div>
                                <div class="content">
                                    <a class="cause-name inactive-link">{{causeList[getCurrentPage()].name}}</a>
                                    <div class="description">
                                        <span class="right floated">
												<i class="heart like icon"></i>
												{{causeList[getCurrentPage()].numberOfLikes}} likes
											</span> {{causeList[getCurrentPage()].numberOfDonors}} Citizen Donors
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span>
                                        <img class="ui avatar image" src="{{causeList[getCurrentPage()].avatar}}">
                                        {{causeList[getCurrentPage()].org}}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ten wide column">
                        <form class="ui form">
                            <h2 class="ui dividing header m-t-5 m-b-30">Confirmation Page</h2>
                            <div class="ui grid m-b-5">
                                <span class="left floated six wide column m-r-10">Points {{getDonationType()}}</span>
                                <span class="right aligned right floated six wide column m-r-10">{{getAmount()}} <span ng-if="getDonationType() === 'Pledged'">%</span><span ng-if="getDonationType() === 'Donated'">Citi Points</span></span>
                            </div>
                                               
                            <br/>
                            
                            <div class="field m-t-5">
                                <label>Phone Number</label>
                                <input type="text" name="card[name]" placeholder="eg: +6590335566">
                            </div>

                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Card Number (Last 4 digits)</label>
                                    <input type="text" name="card[number]" maxlength="4" placeholder="eg: 9741">
                                </div>
                            </div>
                            <div class="field m-t-50">
                                <button id="pay-button" class="ui teal button pull-right confirmationBtn" type="submit">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END ui container -->
</div>

<script>
    $('.confirmationBtn').popup({
        title: 'We are sorry!',
        content: 'This feature has not been implemented',
        position: 'right center'
    });
</script>
