<div class="content-div">
    <!-- wrap content into container -->
    <div class="ui container">

        <div class="m-t-25 m-b-25"></div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="row product-div">
                    <div class="six wide column">
                        <div class="row">
                            <div class="ui card" style="width:100%">
                                <div class="image">
                                    <img ng-src="{{causeList[getCurrentPage()].image}}">
                                </div>
                                <div class="content">
                                    <a class="cause-name inactive-link">{{causeList[getCurrentPage()].name}}</a>
                                    <div class="description">
                                        <span class="right floated">
												<i class="heart like icon"></i>
												{{causeList[getCurrentPage()].numberOfLikes}} likes
											</span> {{causeList[getCurrentPage()].numberOfDonors}} Citizen Donors
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span>
                                        <img class="ui avatar image" src="{{causeList[getCurrentPage()].avatar}}">
                                        {{causeList[getCurrentPage()].org}}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ten wide column">
                        <form class="ui form">
                            <h2 class="ui dividing header m-t-5 m-b-30">Confirmation Page</h2>
                            <div class="ui grid m-b-10">
                                <span class="left floated six wide column m-t-30 m-r-10"><b>Points {{getDonationType()}}:</b></span>
                                <span class="right aligned right floated six wide column m-t-30 m-r-10">{{getAmount()}} <span ng-if="getDonationType() === 'Pledged'">%</span><span ng-if="getDonationType() === 'Donated'">Citi Points</span></span>
                                
                                <span class="left floated six wide column m-t-20 m-r-10"><b>Primary Mobile Number:</b></span>
                                <span class="right aligned right floated six wide column m-t-20 m-r-10">82652930</span>
                                
                                
                            </div>

                            <br/>
                            
                            

                            <!--<div class="field m-t-5">
                                <label>Phone Number</label>
                                <input type="text" name="card[name]" placeholder="eg: +6590335566">
                            </div>

                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Card Number (Last 4 digits)</label>
                                    <input type="text" name="card[number]" maxlength="4" placeholder="eg: 9741">
                                </div>
                            </div>-->
                            <div class="field m-t-50">
                                <button id="pay-button" class="ui teal button pull-right" type="submit" ng-click="sendOtp()">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END ui container -->
</div>

<div class="ui modal form">
    <i class="close icon"></i>
    <div class="header">
        One-Time-Password Confirmation
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/assets/img/almost_done.png">
        </div>
        <div class="description">
            <div class="ui header m-t-10">An SMS has been sent to your registered primary phone number.</div>
            <div>
                <input class="input-center m-b-5" type="number" ng-model="otpNumber" placeholder="Enter your 6 digit OTP">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <button class="ui teal right labeled icon button" ng-click="confirmOtp(otpNumber)">
            Confirm
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>