<div class="content-div">
    <div class="ui container">

        <!--  -->
        <div class="ui grid m-t-10">
            <!-- left column -->
            <div class="ten wide column">
                <div class="ui fluid card">
                    <div class="ui grid m-b-5">
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="image">
                                    <img ng-src="{{causeList[getCurrentPage()].image}}">
                                </div>
                            </div>
                        </div>

                        <div class="twelve wide column">
                            <div class="content">
                                <div class="description m-t-15">
                                    <a class="cause-name inactive-link" ui-sref="cause">{{causeList[getCurrentPage()].name}}</a>
                                </div>
                                <div class="description m-t-10 m-r-20">
                                    <span class="right floated">
                                        <i class="m-l-5 heart like icon"></i>
                                        {{causeList[getCurrentPage()].numberOfLikes}} likes
                                    </span> {{causeList[getCurrentPage()].numberOfDonors}} Citizen Donors
                                </div>
                            </div>

                            <div class="extra content m-t-10">
                                <img class="ui avatar image" ng-src="{{causeList[getCurrentPage()].avatar}}"> {{causeList[getCurrentPage()].org}}
                                </span>
                            </div>
                            <div class="m-t-10">
                                <span class="right floated">
                                    <!--<a><img class="test m-r-20" src="/assets/img/share_on_facebook.png" height="26px" width="100px"></a>-->
                                    <div class="fb-like m-r-20" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-layout="button_count" data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
                                </span>

                                <a ng-repeat="category in causeList[getCurrentPage()].categories" class="ui tag label inactive-link" style="background-color:{{category.color}}">{{category.name}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui secondary pointing menu m-l-5">
                            <a class="active item" ng-click="secMenu('about', $event)"> About
                            </a>
                            <a class="item" ng-click="secMenu('organization', $event)"> The Organization
                            </a>
                            <a class="item" ng-click="secMenu('points', $event)"> Points Conversion
                            </a>
                        </div>
                        <!-- About -->
                        <div class="ui basic segment about-container m-l-5">
                            <p>{{causeList[getCurrentPage()].about}}</i>
                            </p>
                        </div>
                        <!-- END About -->
                        <!-- The Oraganization -->
                        <div class="ui basic segment organization-container hide m-l-5">
                            <p>{{causeList[getCurrentPage()].theOrganisation}}</p>
                            <i class="world icon"></i> <a>{{causeList[getCurrentPage()].website}}</a>
                            <br/>
                            <i class="mail outline icon"></i> <a>{{causeList[getCurrentPage()].email}}</a>
                        </div>
                        <!-- END The Organization -->
                        <!-- Points Conversion -->
                        <div class="ui basic segment points-container hide m-l-5 m-b-10">
                            <p><i class="child icon"></i>{{causeList[getCurrentPage()].points}}</p>
                        </div>
                        <!-- END Points Conversion -->
                    </div>
                </div>

                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <a class="cause-name inactive-link m-l-5">Upcoming Event</a>
                            </div>

                            <div class="content">
                                <div class="ui grid">
                                    <div class="sixteen wide column m-r-10">
                                        <!--<div class="upcoming-event m-b-20">
                                            <div>
                                                <img class="upcoming-image" ng-src="/assets/img/banner1.png">
                                            </div>
                                        </div>-->

                                        <div>
                                            <i class="announcement icon m-l-5 m-r-20 m-b-15"></i>{{causeList[getCurrentPage()].eventName}}
                                        </div>
                                        <div>
                                            <i class="calendar icon m-l-5 m-r-20 m-b-15"></i>{{causeList[getCurrentPage()].eventDate}}
                                        </div>
                                        <div>
                                            <i class="wait icon m-l-5 m-r-20 m-b-15"></i>{{causeList[getCurrentPage()].eventTime}}
                                        </div>
                                        <div>
                                            <i class="marker icon m-l-5 m-r-20 m-b-15"></i>{{causeList[getCurrentPage()].eventVenue}}</i>
                                        </div>

                                        <div class="map-placeholder m-l-5 m-b-20">
                                            <div id="map-canvas"></div>
                                        </div>

                                        <div>
                                            <button class="ui blue fluid button m-l-5 m-b-20" onclick="calcRoute();"><i class="map icon"></i>Direct me to event</button>
                                        </div>

                                        <div class="content m-l-5 m-r-5 m-b-20">
                                            {{causeList[getCurrentPage()].eventDesc}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content m-b-5">
                                <a class="ui teal fluid button signup" ui-sref="something">
                                    <i class="sign in icon m-r-5"></i> Sign up
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END left column -->

            <!-- right column -->
            <div class="six wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <span class="right floated m-r-5">
                            <b>{{getTotalCitiPoints()}}</b>
                        </span>
                        <div class="header m-l-5">Citi Points Remaining</div>
                    </div>
                    <div class="content">
                        <div class="ui form">
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="input-center m-l-5"><i class="help circle icon donatepoints"></i>Donate Points</label>
                                    <input class="input-center m-b-5" type="number" ng-model="pointsDonated" placeholder="eg: 500" ng-style= "myStyle">
                                </div>
                            </div>
                        </div>
                        <!--<div class="description m-t-20">
                            <span class="right floated m-r-5">{{pointsDonated}} Citi Points</span>
                            <span class="m-l-5">Points Donated</span>
                        </div>-->
                        <div class="extra content m-b-5">
                            <a class="ui teal fluid button" ng-click="pledgePoints('Donated')">
                                <i class="gift icon m-r-5"></i> Donate
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END card -->
                <div class="ui fluid card">
                    <div class="content">
                        <span class="right floated m-r-5">
                            <b>100 %</b>
                        </span>
                        <div class="header m-l-5">Pledge Percentage Remaining</div>
                    </div>
                    <div class="content">
                        <div class="ui form">
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="input-center m-l-5"><i class="help circle icon pledgepoints"></i>Pledge Points</label>
                                    <input class="input-center m-b-5" type="number" ng-model="percentagePoints" placeholder="eg: 20" ng-style="pledgePointsError">
                                </div>
                            </div>
                        </div>
                        <div class="extra content m-b-5">
                            <a class="ui teal fluid button" ng-click="pledgePoints('Pledged')">
                                <i class="checkmark icon m-r-5"></i> Pledge
                            </a>
                        </div>
                    </div>

                </div>
                <!-- END card -->

                <div class="ui fluid card">
                    <div class="content">
                        <div class="description">
                            <a href="#"><i class="facebook square icon m-l-5"></i> Facebook Comments</a>
                        </div>
                    </div>
                    <div class="content">
                        <div class="facebook-commentplaceholder">
                            <div class="fb-comments facebook-comment m-r-5 m-l-5" data-href="https://citizen-app.herokuapp.com/#/cause" data-width="350" data-numposts="2"></div>
                        </div>
                    </div>
                </div>
                <!-- END card -->
            </div>
            <!-- END right column -->
        </div>
    </div>
    <!-- END ui container -->
</div>

<script>
    $('.signup.button').popup({
        title: 'We are sorry!',
        content: 'This feature has not been implemented',
        position: 'right center'
    });

    $('.donatepoints').popup({
        title: 'What is Donate Points?',
        content: 'Donate your exisiting Citipoints to the cause of your choice',
        position: 'left center',
        variation: 'inverted'
    });

    $('.pledgepoints').popup({
        title: 'What is Pledge Points?',
        content: 'Everyone starts with 100% pledge percentage. Pledge a percentage of points, eg:10% to a cause of your choice. For every subsequent transaction, 10% of the earned Citipoints will be donated to the cause of your choice',
        position: 'left center',
        variation: 'inverted'
    });
</script>

<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var nus = new google.maps.LatLng(1.335187, 103.965079);
        var mapOptions = {
            zoom: 10,
            center: nus
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);
    }

    function calcRoute() {

        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                    position.coords.longitude);

                var start = pos;
                var end = "140021";
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.DRIVING
                };
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }
                });
            }, function () {
                handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }


    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>