.evemt .summary,
.event .meta {
    width: 100%;
}

.rating-container {
    float: right;
}

.map-placeholder {
    width: 100%;
    height: 200px;
    border: 1px solid #b3b4b5;
    margin-top: 15px;
    z-index: 1;
    /*border-radius: 5px;*/
}

.angular-google-map-container {
    height: 198px;
}

.thumbnails-image {
    width: 100%;
    height: 85px;
    overflow: hidden;
    border: 1px solid #b3b4b5;
    background-color: #fff;
}

.dummy-image {
    width: 110px;
    height: 100px;
    background: url("images/image-placeholder.png") center center no-repeat;
}

.main-image {
    box-shadow: 0px 1px 3px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
    -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease,
}

.inactive-link {
   pointer-events: none;
   cursor: default;
}

.upcoming-event {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.upcoming-event > img {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upcoming-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.facebook-commentplaceholder {
    height: 500px;
    align-items: center;
}

.facebook-sampleplaceholder {
    height: 500px;
    align-items: center;
    display:none;
}

.facebook-comment {
    height: 100%;
    overflow: scroll;
    align-items: center;
}

.input-center {
    text-align: center;   
}